.statistics{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
}
.statistics-header{
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 80%;
    height: 7%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.statistic-selector{
    font-size: 3cqmin;
}

.statistics-container{
    display: block;
    height: 80%;
    padding-left: 5%;
    padding-right: 5%;
}
