<div class="statistic-detail">
    <div class="statistic-item">
        <div class="statistic-name-item">
            {{ playerNameRecon(statisticInDetail.playerStatistics[0].playerId) | async }}
        </div>
        <app-statistic-card
        [statisticName]="'Brutto Score'"
        [statisticValue]="statisticInDetail.playerStatistics[0].bruttoScore"/>
        <app-statistic-card
        [statisticName]="'Ø Brutto Score'"
        [statisticValue]="statisticInDetail.playerStatistics[0].avgBruttoScore"/>
        <app-statistic-card
        [statisticName]="'Ø Point Value'"
        [statisticValueArray]="mapToArray(statisticInDetail.playerStatistics[0].avgPointValueScored)"/>
    </div>
    <div class="statistic-item">
        <div class="statistic-name-item">
            {{ playerNameRecon(statisticInDetail.playerStatistics[1].playerId) | async }}
        </div>
        <app-statistic-card
        [statisticName]="'Brutto Score'"
        [statisticValue]="statisticInDetail.playerStatistics[1].bruttoScore"/>
        <app-statistic-card
        [statisticName]="'Ø Brutto Score'"
        [statisticValue]="statisticInDetail.playerStatistics[1].avgBruttoScore"/>
        <app-statistic-card
        [statisticName]="'Ø Point Value'"
        [statisticValueArray]="mapToArray(statisticInDetail.playerStatistics[1].avgPointValueScored)"/>    
    </div>
    <div class="diagram-item">
        salamander
    </div>
</div>
