<div class="statistic-overview">
  <div class="statistic-overview-table-container">
    <table class="statistic-overview-table">
        <thead>
          <tr>
            <th>Player 1</th>
            <th>Player 2</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let statistic of gameStatistics; let i = index" (click)="showDetails(statistic)" [ngClass]="{'highlight': detailedStatistic === statistic}">
            <td>{{ playerNameRecon(statistic.playerStatistics[0]?.playerId) | async }}</td>
            <td>{{ playerNameRecon(statistic.playerStatistics[1]?.playerId) | async }}</td>
            <td>{{ statistic.playerStatistics[0]?.nettoScore }} : {{ statistic.playerStatistics[1]?.nettoScore }}</td>
          </tr>
        </tbody>
      </table>
  </div>
  <div class="statistic-detail-container" *ngIf="detailedStatistic">
    <app-statistic-detail [statisticInDetail]="detailedStatistic"></app-statistic-detail>
  </div>
</div>
  
