<div class="viewport">
    <div class="settings-icon" (click)="toggleSettings()">
        <img src="../../../assets/icons/moneyball/settings-icon.png">
    </div>
    <div class="statistic-icon" (click)="routeToStatistics()">
        <img src="../../../assets/icons/moneyball/statistic-icon.png">
    </div>
    <app-config-panel class="config-panel-container" [ngClass]="{'open': settingsVisible}"/>
    <div class="scoreboard-header">
    </div>
    <div class="scoreboard">
        <div class="scoreboard-item">
            <div class="scoreboard-item-header">
                {{selectedPlayers[0]?.name}}
            </div>
            <div class="player-points">
                <div class="player-shots-taken">
                    {{selectedPlayers[0] ? (getPlayerStatistic(selectedPlayers[0]._id)?.shotsTaken ?? 0) : 0}}
                </div>
                {{selectedPlayers[0] ? (getPlayerStatistic(selectedPlayers[0]._id)?.nettoScore ?? 0) : 0}}
                <div class="avg-point-value">
                    avg: {{selectedPlayers[0] ? (getPlayerStatistic(selectedPlayers[0]._id)?.avgBruttoScore ?? 0) : 0}}
                </div>
            </div>
            <div class="player-buttons-container">
                <app-scoreboard-point-button    class="button-item" *ngFor="let pointValue of pointValueList; let i = index" 
                                                [pointValue]="pointValue" 
                                                [player]="selectedPlayers[0]" 
                                                [pointValuePercentage]="selectedPlayers[0] ? (getPlayerStatistic(selectedPlayers[0]._id)?.avgPointValueScored?.[i] ?? 0): 0"/>
            </div>
        </div>
        <div class="scoreboard-item" *ngIf="true">
            <div class="scoreboard-item-header">
                <div>
                    {{gameMode.getName()}}
                </div>
                <img class="moneyball-icon"
                (click)="toggelMoneyball()"
                [src]="moneyballEnabled ? '../../../assets/icons/moneyball/moneyball-icon-rgb.png' : '../../../assets/icons/moneyball/moneyball-icon-grayscale.png'" 
                alt="Moneyball Icon">
            </div>
            <app-scoreboard-graph class="scoreboard-graph" [currentStatistic]="currentStatistic"></app-scoreboard-graph>
        </div>
        <div class="scoreboard-item" *ngIf="selectedPlayers.length >= 2">
            <div class="scoreboard-item-header">
                {{selectedPlayers[1]?.name}}
            </div>
            <div class="player-points">
                <div class="player-shots-taken">
                    {{selectedPlayers[1] ? (getPlayerStatistic(selectedPlayers[1]._id)?.shotsTaken ?? 0) : 0}}
                </div>
                {{selectedPlayers[1] ? (getPlayerStatistic(selectedPlayers[1]._id)?.nettoScore ?? 0) : 0}}
                <div class="avg-point-value">
                    avg: {{selectedPlayers[1] ? (getPlayerStatistic(selectedPlayers[1]._id)?.avgBruttoScore ?? 0) : 0}}
                </div>
            </div>
            <div class="player-buttons-container">
                <app-scoreboard-point-button    class="button-item" *ngFor="let pointValue of pointValueList; let i = index" 
                                                [pointValue]="pointValue" 
                                                [player]="selectedPlayers[1]" 
                                                [pointValuePercentage]="selectedPlayers[1] ? (getPlayerStatistic(selectedPlayers[1]._id)?.avgPointValueScored?.[i] ?? 0): 0"/>
            </div>
        </div>
    </div>
    <div class="control-buttons-container">
        <app-moneyball-queue *ngIf="moneyballEnabled" class="moneyball-queue-container" [moneyballQueue]="moneyballQueue" [currentStatistic]="currentStatistic"/>
        <div class="control-buttons">
            <button class="control-button" (click)="undo()">Undo</button>
            <button class="control-button" (click)="resetGame()">Reset</button>
            <button class="control-button" (click)="saveGame()">Save</button>
        </div>

    </div>
</div>