<div class="viewport-background"></div>
<div class="viewport">
    <div class="scoreboard">
        <div class="player-scoreboard">
            <app-player-selector class="player-selector player-selector-left"  (selectedPlayerChange)="onPlayer1Change($event)"></app-player-selector>
            <div class="player-points">
                <div class="player-shots-taken">
                    {{playerOne ? (getPlayerStatistic(playerOne._id)?.shotsTaken ?? 0) : 0}}
                </div>
                {{playerOne ? (getPlayerStatistic(playerOne._id)?.nettoScore ?? 0) : 0}}
                <div class="avg-point-value">
                    avg: {{playerOne ? (getPlayerStatistic(playerOne._id)?.avgBruttoScore ?? 0) : 0}}
                </div>
            </div>
            <div class="player-button-container">
                <app-scoreboard-point-button [pointValue]="0" [player]="playerOne" [pointValuePercentage]="playerOne ? (getPlayerStatistic(playerOne._id)?.avgPointValueScored?.[0] ?? 0): 0"></app-scoreboard-point-button>
                <app-scoreboard-point-button [pointValue]="1" [player]="playerOne" [pointValuePercentage]="playerOne ? (getPlayerStatistic(playerOne._id)?.avgPointValueScored?.[1] ?? 0): 0"></app-scoreboard-point-button>
                <app-scoreboard-point-button [pointValue]="2" [player]="playerOne" [pointValuePercentage]="playerOne ? (getPlayerStatistic(playerOne._id)?.avgPointValueScored?.[2] ?? 0): 0"></app-scoreboard-point-button>
                <app-scoreboard-point-button [pointValue]="3" [player]="playerOne" [pointValuePercentage]="playerOne ? (getPlayerStatistic(playerOne._id)?.avgPointValueScored?.[3] ?? 0): 0"></app-scoreboard-point-button>
                <app-scoreboard-point-button [pointValue]="4" [player]="playerOne" [pointValuePercentage]="playerOne ? (getPlayerStatistic(playerOne._id)?.avgPointValueScored?.[4] ?? 0): 0"></app-scoreboard-point-button>
            </div>
        </div>
        <div class="scoreboard-center">
            <select class="game-mode-title" (change)="onGameModeSelect($event)">
                <option *ngFor="let gameMode of getGamemodes()" [ngValue]="gameMode">{{ gameMode.getName() }}</option>
            </select>
            <app-scoreboard-graph class="scoreboard-graph" [currentStatistic]="currentStatistic"></app-scoreboard-graph>
        </div>
        <div class="player-scoreboard">
            <app-player-selector class="player-selector player-selector-right"  (selectedPlayerChange)="onPlayer2Change($event)"></app-player-selector>
            <div class="player-points">
                <div class="player-shots-taken">
                    {{playerTwo ? (getPlayerStatistic(playerTwo._id)?.shotsTaken ?? 0) : 0}}
                </div>
                {{playerTwo ? (getPlayerStatistic(playerTwo._id)?.nettoScore ?? 0) : 0}}
                <div class="avg-point-value">
                    avg: {{playerTwo ? (getPlayerStatistic(playerTwo._id)?.avgBruttoScore ?? 0) : 0}}
                </div>
            </div>
            <div class="player-button-container">
                <app-scoreboard-point-button [pointValue]="0" [player]="playerTwo" [pointValuePercentage]="playerTwo ? (getPlayerStatistic(playerTwo._id)?.avgPointValueScored?.[0] ?? 0): 0"></app-scoreboard-point-button>
                <app-scoreboard-point-button [pointValue]="1" [player]="playerTwo" [pointValuePercentage]="playerTwo ? (getPlayerStatistic(playerTwo._id)?.avgPointValueScored?.[1] ?? 0): 0"></app-scoreboard-point-button>
                <app-scoreboard-point-button [pointValue]="2" [player]="playerTwo" [pointValuePercentage]="playerTwo ? (getPlayerStatistic(playerTwo._id)?.avgPointValueScored?.[2] ?? 0): 0"></app-scoreboard-point-button>
                <app-scoreboard-point-button [pointValue]="3" [player]="playerTwo" [pointValuePercentage]="playerTwo ? (getPlayerStatistic(playerTwo._id)?.avgPointValueScored?.[3] ?? 0): 0"></app-scoreboard-point-button>
                <app-scoreboard-point-button [pointValue]="4" [player]="playerTwo" [pointValuePercentage]="playerTwo ? (getPlayerStatistic(playerTwo._id)?.avgPointValueScored?.[4] ?? 0): 0"></app-scoreboard-point-button>
            </div>
        </div>
    </div>
    <div class="moneyball-queue-and-control-buttons">
        <app-moneyball-queue *ngIf="moneyballEnabled" class="moneyball-queue-container" [moneyballQueue]="moneyballQueue" [currentStatistic]="currentStatistic"/>
        <div class="control-buttons">
            <div class="moneyball-switch">
                <input type="checkbox" (change)="toggelMoneyball()">  
              Moneyballs
            </div>   
            <button class="control-button" (click)="undo()">Undo</button>
            <button class="control-button" (click)="resetGame()">Reset</button>
            <button class="control-button" (click)="saveGame()">Save</button>
        </div>

    </div>
</div>