.viewport{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
//Todo: Deactivated for now
viewport::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('../../../assets/backgrounds/basketball-court.jpg');
    background-position: center 50%;
    background-size: auto 160%;
    background-repeat: no-repeat;
    opacity: 0.6;
}
.config-panel-container{
    position: absolute;
    top: 7%;
    left: 0;
    transform: translateX(-100%);
    background-color: #f0f0f0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 10;
    transition: transform 1000ms ease-in-out
}
.config-panel-container.open{
    transform: translateX(0)
}
.scoreboard-header{
    height: 7%;
}
.scoreboard{
    flex: 1;
    display: flex;

}
.control-buttons-container{
    margin-top: 3vh;
    position: relative;
    display: flex;
    width: 100%;
    height: 20%;
}
.scoreboard-item{
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end;
    margin-inline: 1%;
}
.player-buttons-container{
    position: relative;
    height: 35%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
}
.player-button-container{
    position: relative;
}
.scoreboard-item-header{
    position: relative;
    font-size: 6cqmin;
    padding-bottom: 2%;
    height: 10%;
    display: flex;
    justify-content: space-around;
}
.moneyball-icon{
    position: absolute;
    right: 0; 
    top: 50%;
    translate: 0 -50%;
    height: 70%;
}
.player-points{
    margin-bottom: 1%;
    position: relative;
    height: 35%;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 15vh;
    color: white;
    background-color: rgba(0,0,0,0.7);
    border-radius: 20px;

}


.scoreboard-center-header {
    display: flex;
    justify-content: space-around;
    height: 10%; /* Same height for the entire header */
    width: 100%;
    align-items: center;
    flex: 1;
}

.game-mode-title {
    font-size: 3cqmin;
    margin: 2%;
    padding: 2%;
    border-radius: 20px;
    height: 100%; /* Makes the select element the full height of its parent */
}
.button-item{
    display: flex;
    flex: 1 1;
    width: 0;
    margin-inline: 1%;
}
.button-item:first-child{
    margin-left: 0;
}
.button-item:last-child{
    margin-right: 0;
}
.settings-icon{
    position: absolute;
    height: 5%;
    width: auto;
    top: 20px;
    left: 20px;
}
.statistic-icon{
    position: absolute;
    height: 5%;
    width: auto;
    top: 20px;
    right: 20px;
}
.icon {
    height: 100%; /* Makes the icon container the full height of its parent */
    display: flex;
    justify-content: center;
    align-items: center;
}
.statistic-icon img,
.settings-icon img,
.icon img {
    max-height: 80%; /* Ensures the image scales to the container's height */
    width: auto;
    aspect-ratio: 1;
}

.scoreboard-graph{
    background-color: rgba(0,0,0,0.5);
    border-radius: 20px;
    height: 87%;
}

.player-shots-taken{
    position: absolute;
    left: 2%;
    top: 3%;
    font-size: 2vh;
}

.avg-point-value{
    position: absolute;
    left: 2%;
    bottom: 3%;
    font-size: 2vh;
}

.moneyball-queue-container{
    overflow: hidden;
    height: 100%;
    width: 60%;
}




.control-buttons{
    height: 100%;
    width: 20%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    right: 1%;
}

.control-button{
    background-color: var(--background-color);
    font-size: 2.5cqmin;
    margin-top: 5px;
    margin-bottom: 5px;
    flex-grow: 1;
    border-radius: var(--border-radius);
    position: relative;

    --background-color: #f0f0f0;
    --border-radius: 20px;
    --border-size: 5px;
}

.control-button::after{
    content: '';
    background-color: transparent;
    border-radius: var(--border-radius);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: var(--border-size) solid var(--background-color);
    transition: top, right, bottom, left, 100ms ease-in-out
    
}

.control-button:hover::after{
    top: calc(var(--border-size) * -2);
    left: calc(var(--border-size) * -2);
    right: calc(var(--border-size) * -2);
    bottom: calc(var(--border-size) * -2);
}